h2 {
  margin-bottom: 25px;
  font-weight: 600;
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  flex: 1;
  background: #fff;
  padding: 22px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.card h3 {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.card p {
  margin-top: 10px;
  font-size: 26px;
  font-weight: 600;
}

.charts {
  display: flex;
  gap: 30px;
}

.chart-box {
  flex: 1;
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}
