.profile-box {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
  max-width: 350px;
}

.photo {
  width: 90px;
  height: 90px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-bottom: 20px;
}
